---

---

<div class="image-pair">
  <slot />
</div>

<style>
  .image-pair {
    display: flex;
    gap: var(--size-4);
    flex-wrap: wrap;
    width: 100cqi;
    max-inline-size: 100cqi;
  }

  .image-pair > :global(*) {
    flex: 1;
    min-inline-size: min(100%, 280px);
  }

  .image-pair > :global(img) {
    width: 100%;
    height: auto;
  }
</style>
