---
import { getDateFormatter, type Locale } from "../i18n/utils";
import Icon from "./Icon.astro";

interface Props {
  date?: Date;
  location?: string;
  lang: Locale;
}

const { date, location, lang } = Astro.props;
const dateFormatter = getDateFormatter(lang);
---

{
  (date || location) && (
    <div class="photo-meta">
      {location && (
        <span class="photo-meta__item">
          <Icon name="pin" />
          {location}
        </span>
      )}
      {date && (
        <time class="photo-meta__item" datetime={date.toISOString()}>
          <Icon name="calendar" />
          {dateFormatter.format(date)}
        </time>
      )}
    </div>
  )
}

<style>
  .photo-meta {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-3);
  }

  .photo-meta__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: var(--text-2);
    font-size: var(--font-size-1);
    gap: 0.375em;
  }

  .photo-meta__item :global(svg) {
    flex-shrink: 0;
    opacity: 0.75;
  }
</style>
